*{ text-align: center;
  box-sizing: content-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #4CAF50;
  padding: 15px;
  text-align: center;
  color: white;
}

nav {
  background-color: #333;
  overflow: hidden;o 
}

nav a {
  display: inlne-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration : none;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

section {
  padding: 20px;
  background: white;
  margin: 20px;
  border-radius: 8px;
  position:relative;
  justify-items: center;
}
section img{
    border-radius: 20px;
     width: 20%;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 4px 15px rgba(0,0,0,0.5); 
}
section img:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 25px rgba(0,0,0,0.7); }

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 2px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
